PruebaTecnicaFrontEnd/Connected Services/WSAutos/Autos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50482/Autos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaTecnica.Model" />
  <xs:element name="ObtenerAutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PruebaTecnica.Model" minOccurs="0" name="ObtenerAutosResult" nillable="true" type="q1:ArrayOfAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>