PruebaTecnicaFrontEnd/Connected Services/WSAutos/Autos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PruebaTecnica.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PruebaTecnica.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auto" nillable="true" type="tns:Auto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuto" nillable="true" type="tns:ArrayOfAuto" />
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAuto" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:Marca" />
      <xs:element minOccurs="0" name="Sku" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
</xs:schema>